<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishyWebAI History</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="background"></div>

<div class="container">

    <div class="navbar">

        <div class="logo-section">

            <div class="fish-logo">🐟</div>

            <h1>History</h1>

        </div>

        <div class="nav-links">

            <a href="/" class="nav-btn">
                Scanner
            </a>

            <a href="/history" class="nav-btn">
                History
            </a>

            <a href="/dashboard" class="nav-btn">
                Dashboard
            </a>

        </div>

    </div>

    <div class="card">

        <h3>Scan History</h3>

        <div class="search-box">

    <input
        type="text"
        id="historySearch"
        placeholder="Search URL..."
        onkeyup="searchTable()"
    >

    <a href="/clear-history"
       class="delete-btn">

       🗑 Clear History

    </a>

</div>

        <table class="history-table">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Result</th>
                    <th>Confidence</th>
                    <th>Time</th>
                </tr>

            </thead>

            <tbody>

                {% for scan in scans %}

                <tr>

                    <td>{{ scan[0] }}</td>

                    <td>{{ scan[1] }}</td>

                    <td>{{ scan[2] }}</td>

                    <td>{{ scan[3] }}%</td>

                    <td>{{ scan[4] }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<script>

function searchTable() {

    let input =
    document.getElementById(
    "historySearch"
    );

    let filter =
    input.value.toUpperCase();

    let table =
    document.querySelector(
    ".history-table"
    );

    let tr =
    table.getElementsByTagName(
    "tr"
    );

    for(let i=1;i<tr.length;i++){

        let td =
        tr[i].getElementsByTagName(
        "td"
        )[1];

        if(td){

            let txt =
            td.textContent;

            tr[i].style.display =
            txt.toUpperCase()
            .includes(filter)
            ? ""
            : "none";
        }
    }
}

</script>

</body>
</html>